{%  extends 'accounts/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Account:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'account'%}">Update Account</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'new_order_land' "1"%}">Place Order</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{salesman.email}}</p>
			<p>Phone: {{salesman.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col-ld-12">
		<div class="card card-body">

			<form method="get">
				<table class="table table">
				<thead>
					<tr>
					{% for field in myFilter.form.visible_fields %}
						<th>
							{{field.label}}
						</th>
					{% endfor %}
					</tr>
				</thead>
				<tbody>
					<tr>
					{% for field in myFilter.form.visible_fields %}
						<td>
							{{field}}
						</th>
					{% endfor %}
					<th><input type="date" name="DateCreated"></th>
					</tr>
				</tbody>
				</table>	

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-ld-12">
		<div class="card card-body">
			<table class="table table-hover">
				<tr>
					<th>Invoice</th>
					<th>Outlet</th>
					<th>Date Orderd</th>
					<th>Amount</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.Invoice_no}}</td>
					<td>{{order.Outlet.CompanyName}}</td>
					<td>{{order.DateCreated}}</td>
					<td>RM{{order.Price}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_item' "Order" order.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}