{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">{{Header.0}}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{Header.1}}</li>
    </ol>
        
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>{{Header.2}}</div>
        <div class="card-body">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
					
					<label for="Machine"><b></b></label><br>
					   
					<label for="Machine"><b>{{Line}} Machine : </b></label>
					
					<select name="Machine" id="Machine">
						<option value="All">All</option>
						{% for mac in Machine %}
							<option value="{{mac.0}}">{{mac.0}} - {{mac.1}}</option>
						{% endfor %}
					</select>
					             

					<!--Input date-->
					<br><br><label for="Machine"><b>Date Range (Leave blank for all)</b></label><br>
					<input type="datetime-local" id="date1" name="date1" min="2010-01-01" max="2090-12-31">
					   <label for="Machine"><b> to </b></label>
					<input type="datetime-local" id="date2" name="date2" min="2010-01-01" max="2090-12-31">


				<br>
				<br>
				<input class="btn btn-success" type="submit" name="Confirm">
			   
				<a class="btn btn-light" href="{% url 'home' %}">Back</a>

				</form>
        </div>
    </div>
</div>

{% endblock %}