{%  extends 'accounts/main.html' %}

{% block content %}

<div class="row">
	<div class="col-ld-12">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-ld-12">
		<div class="card card-body">
			<h5>{{datatype}}</h5>
		</div>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Picture</th>
					<th>Last Login</th>
				</tr>

				{% for obj in objs %}

				<tr>
					<td>{{obj.name}}</td>
					<td>{{obj.phone}}</td>
					<td>{{obj.email}}</td>
					<td>{{obj.profile_pic}}</td>
					<td>{{obj.last_login}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' obj.id %}">Update</a></td>

					<!--td>
						<a class="btn btn-sm btn-danger" href="{% url 'delete_item' datatype obj.id %}">
							Delete
						</a>
					</td-->
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}