{%  extends 'accounts/main.html' %}

{% block content %}

<div class="row">
	<div class="col-ld-12">
		<div class="card card-body">
			<form method="get">
				<table class="table table-hover ">
				<thead>
					<tr>
					{% for field in myFilter.form.visible_fields %}
						<th>
							{{field.label}}
						</th>
					{% endfor %}
					<th>Date Created</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					{% for field in myFilter.form.visible_fields %}
						<td>
							{{field}}
						</th>
					{% endfor %}
					<th><input type="date" name="DateCreated"></th>
					</tr>
				</tbody>
				</table>	

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-ld-12">
		<div class="card card-body">
			<h5>{{datatype}}</h5>
		</div>
		<div class="card card-body">
			<table class="table table-hover">
				<tr>
					<th>PO</th>
					<th>Outlet</th>
					<th>Salesman</th>
					<th>Price</th>
					<th>Delivery</th>
					<th>Status</th>
					<th>Payment Due</th>
					<th>Payment Status</th>
				</tr>

				{% for obj in objs %}

				<tr>
					<td>{{obj.Invoice_no}}</td>
					<td>{{obj.Outlet.Code}} : {{obj.Outlet.CompanyName}}</td>
					<td>{{obj.POC}}</td>
					<td>RM {{obj.Price}}</td>
					<td>{{obj.DeliveryDate}}</td>
					<td>{{obj.status}}</td>
					<td>{{obj.DueDate}}</td>
					<td>{{obj.is_paid}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' obj.id %}">Update</a></td>

					<!--td>
						<a class="btn btn-sm btn-danger" href="{% url 'delete_item' datatype obj.id %}">
							Delete
						</a>
					</td-->
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}