{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'control-home' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.profile_pic.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
                <h4> Name:  {{user.name}} <br>
                    Username:  {{user.username}}<br>
                    Phone:  {{user.phone}}<br>
                </h4>
                <hr>
                <p>
                    Bank:  {{user.bank}}<br>
                    Bank Account:  {{user.bank_account}}<br>
                </p>
                <hr>
                <p>
                    <label for="id_profit">Profit:</label> 
                    <input type="text" name="profit" maxlength="15" value="{{user.profit}}" id="id_profit">
                    <br>
                    <label for="id_duration">Duration:</label> 
                    <input type="text" name="duration" maxlength="15" value="{{user.duration}}" id="id_duration">
                    <br>
                    <label for="id_deposit">Deposit:</label> 
                    <input type="text" name="deposit" maxlength="15" value="{{user.deposit}}" id="id_deposit">
                    <br>
                    <label for="id_amount">Amount:</label> 
                    <input type="text" name="amount" maxlength="15" value="{{user.amount}}" id="id_amount">
                </p>
                <hr>



        <!--fields = ['profit', 'duration','deposit','amount']
				<label for="profit">Profit:</label>
                <input type="text" name="profit" maxlength="15" value="123" id="id_profit"-->
		
			<input class="btn btn-success" type="submit" value="Update Information">
			<a class="btn btn-light" href="{% url 'control-home' %}">Back</a>
            </form>
		</div>
	</div>
</div>



{% endblock %}