{%  extends 'accounts/main.html' %}

{% block scripts %}
    {%  include 'accounts/dashboard_js.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Real Time Data</li>
    </ol>
    <div class="row">
        {% for ticket in tickets %}
            <div class="col-ld">
                <div class="col-md">
                    <div class="card text-center text-white  mb-3" id="body{{forloop.counter}}">
                        <div class="card-header">
                            <h5 class="card-title"> {{ticket.0}} </h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ticket.1}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Today Production Graph</li>
    </ol>
    <div class="row">
        {% if NoData == True %}
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Today Production</div>
                    <div class="card-body">
                        <h3> No data Today </h3>
                    </div>
                </div>
            </div>
        {% else %}
            {% for chart in charts %}
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header"><i class="fas fa-chart-area mr-1"></i>{{chart.title}}</div>
                        <div class="card-body"><canvas id="myGraph{{forloop.counter}}" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Today Production Tabulated</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Today Production</div>
        <div class="card-body">
            {% if NoData == True %}
                <h3> No data Today </h3>
            {% else %}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            {% for para in data.0 %}
                                <th>{{para}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for rw in data.1 %}
                        <tr>
                            {% for data in rw %}
                            <td>{{data}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

