<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript">
           
window.onload = function(e){ 
    //var my_ajax=setInterval(refresher,2500);
    // Set new default font family and font color to mimic Bootstrap's default styling
    
}

function refresher(){
    /*$.ajax({
        type: "POST",
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        dataType: 'json',
        url: "{% url 'control-home' %}",
        success: function(data){
            for(var i=0;i<data.datas.length;i++){
                //console.log(data.datas[i].name,data.datas[i].data)
                document.getElementById(data.datas[i].name).className = data.datas[i].data;
            }
        }
    });*/
}

</script>
