{%  extends 'accounts/main.html' %}


{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">All user data</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Please select user.</li>
    </ol>
    
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Table of User Data</div>
        <div class="card-body">
            {% if NoData == True %}
                <h3> No data recorded during these period. </h3>
            {% else %}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            {% for para in data.0 %}
                                <th>{{para}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for rw in data.1 %}
                        <tr>
                            {% for data in rw %}
                                        {% if forloop.counter0 == 6 %}
                                            <td><input class="btn btn-primary" style="width:100%" type="submit" name="Submission-{{data}}" value="Edit"/></td>
                                        {% else %}
                                            <td>{{data}}</td>
                                        {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

