{%  extends 'accounts/main.html' %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Administration Approval</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Notice</li>
    </ol>
        
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Please Wait for the authorization prior using the system.</div>
        <div class="card-body">
        Please Wait for the authorization prior using the system.
        </div>
    </div>
</div>

{% endblock content %}