<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Premium Unitrade - Admin</title>
    <link rel="stylesheet" href="{% static '/css/login-style.css' %}">
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
  </head>
  <body>
    <div class="center">
      <img src="{% static 'images/logo.png' %}" width="320" height="100">
      <h3><br><br>Monitoring Admin Panel </h3>
      <form method="POST" action="">
	  	{% csrf_token %}
        <div class="txt_field">
          <input type="text" name="username" placeholder="" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" placeholder="" required>
          <span></span>
          <label>Password</label>
        </div>
        <!--div class="pass">
			<a href="{% url 'reset_password' %}" class="ml-2">
				Forgot password? 
			</a>
		</div-->
        <input type="submit" value="Login">
      </form>
    </div>
{% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}
  </body>
</html>
