#logo{
	}

	body{
		background-color: #ebeff5;
	}
	#body1{
		background-color: #c74c4c;
	}
	#body2{
		background-color: #c7a64c;
	}
	#body3{
		background-color: #4cc75c;
	}
	#body4{
		background-color: #4c90c7;
	}
	#body5{
		background-color: #a04cc7;
	}