<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Premium Unitrade</title>
<link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
        
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static 'css/About.css' %}"/>
<script id="applicationScript" type="text/javascript" src="{% static 'js/About.js' %}"></script>
</head>
<body>
<div id="About">
	<div id="top_">
		<div id="HeaderLight" class="Header_Light">
			
			<div id="tab3_optionsdark" class="tab_3_options_dark">
				
				<div onclick="location.href='{% url 'mobile-home' %}'" id="Transaction">
					<span>Transaction</span>
				</div>
				<div onclick="location.href='{% url 'mobile-latest_news' %}'" id="Latest_News">
					<span>Latest News</span>
				</div>
				<div onclick="location.href='{% url 'mobile-About_Traves' %}'" id="Group_35">
					<svg class="Button" viewBox="0 0 94.092 32">
						<path id="Button" d="M 18.58613204956055 0 L 75.50615692138672 0 C 85.77099609375 0 94.09228515625 7.163443565368652 94.09228515625 16 C 94.09228515625 24.83655548095703 85.77099609375 32 75.50615692138672 32 L 18.58613204956055 32 C 8.321293830871582 32 0 24.83655548095703 0 16 C 0 7.163443565368652 8.321293830871582 0 18.58613204956055 0 Z">
						</path>
					</svg>
					<div id="About_Traves">
						<span>About Us</span>
					</div>
				</div>
				<div onclick="location.href='{% url 'mobile-Portfolio' %}'" id="Portfolio">
					<span>Portfolio</span>
				</div>
			</div>
		</div>
	</div>
	<img onclick="location.href='{% url 'mobile-home' %}'" id="logo2" src="{% static 'images/logo2.png' %}" srcset="{% static 'images/logo2.png'%} 1x">
	<div id="Group_1786">
		<svg class="Button_bh">
			<rect id="Button_bh" rx="16" ry="16" x="0" y="0" width="81" height="32">
			</rect>
		</svg>
		<div id="Logout" onclick="location.href='{% url 'mobile-logout' %}'">
			<span>Logout</span>
		</div>
	</div>
	<div id="Profile">
		<div id="cards">
			<div id="card">
				<div id="field">
					<div id="Timeline">
						<span>{{about.topic2}}</span>
					</div>
					<div id="You_may_need_to_create_an_acco">
						<span>{{about.body2}}</span>
					</div>
				</div>
			</div>
			<div id="About_Us">
				<span>{{about.topic1}}</span>
			</div>
			<div id="When_I_was_5_years_old_my_moth">
				<span>{{about.body1}}</span>
			</div>
			<div id="text">
				<div id="If_youre_offered_a_seat_on_a_r">
					<span>{{about.header}}</span>
				</div>
				<div id="Welcome_">
					<span>Welcome </span>
				</div>
				<div id="LIFESTYLE">
					<span>Founded in {{about.founded}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>