<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Premium Unitrade</title>
<link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static 'css/Dashboard.css' %}"/>
<script id="applicationScript" type="text/javascript" src="{% static 'js/Dashboard.js' %}"></script>
</head>
<body>
<div id="Dashboard">    
	<div id="top_"><img id="logo2" onclick="location.href='{% url 'mobile-home' %}'" src="{% static 'images/logo2.png' %}" srcset="{% static 'images/logo2.png' %} 1x">
			
		<div id="HeaderLight" class="Header_Light">
			<div id="tab3_optionsdark" class="tab_3_options_dark">
				<svg class="bg_bc">
					<rect id="bg_bc" rx="0" ry="0" x="0" y="0" width="362" height="48">
					</rect>
				</svg>
				<div onclick="location.href='{% url 'mobile-latest_news' %}'" id="Latest_News">
					<span>Latest News</span>
				</div>
				<div onclick="location.href='{% url 'mobile-About_Traves' %}'" id="About_Traves">
					<span>About Us</span>
				</div>
				<div onclick="location.href='{% url 'mobile-home' %}'" id="Group_1783">
					<svg class="Button">
						<rect id="Button" rx="16" ry="16" x="0" y="0" width="81" height="32">
						</rect>
					</svg>
					<div id="Transaction_">
						<span>Transaction </span>
					</div>
				</div>
				<div onclick="location.href='{% url 'mobile-Portfolio' %}'" id="Portfolio">
					<span>Portfolio</span>
				</div>
				<div id="Group_1784">
					<div id="Group_1785">
						<svg class="Button_bl">
							<rect id="Button_bl" rx="16" ry="16" x="0" y="0" width="81" height="32">
							</rect>
						</svg>
						<div id="Logout" onclick="location.href='{% url 'mobile-logout' %}'">
							<span>Logout</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
	<div id="Group_31">
		<div id="data">
			<div id="card_bv">
				<div id="num">
				</div>
				<div id="line">
					<div id="Profit">
						<span>Profit</span>
					</div>
					<div id="Profit2">
                        {% if user.profit == None %}
                            <span>-</span>
                        {% else %}
                            <span>{{user.profit}}</span>
                        {% endif %}
					</div>
					<svg class="Ellipse_90">
						<ellipse id="Ellipse_90" rx="7" ry="7" cx="7" cy="7">
						</ellipse>
					</svg>
				</div>
				<div id="line_b">
					<div id="Deposit">
						<span>Duration</span>
					</div>
					<div id="Deposit2">
                        {% if user.profit == None %}
                            <span>-</span>
                        {% else %}
                            <span>{{user.duration}}</span>
                        {% endif %}
					</div>
					<svg class="Ellipse_90_b">
						<ellipse id="Ellipse_90_b" rx="7" ry="7" cx="7" cy="7">
						</ellipse>
					</svg>
				</div>
				<div id="line_ca">
					<div id="Amount">
						<span>Amount</span>
					</div>
					<div id="Amount2">
                        {% if user.profit == None %}
                            <span>-</span>
                        {% else %}
                            <span>{{user.amount}}</span>
                        {% endif %}
					</div>
					<svg class="Ellipse_90_ca">
						<ellipse id="Ellipse_90_ca" rx="7" ry="7" cx="7" cy="7">
						</ellipse>
					</svg>
				</div>
				<div id="line_cb">
					<div id="Duration">
						<span>Deposit</span>
					</div>
					<div id="Duration2">
                        {% if user.profit == None %}
                            <span>-</span>
                        {% else %}
                            <span>{{user.deposit}}</span>
                        {% endif %}
					</div>
					<svg class="Ellipse_90_cc">
						<ellipse id="Ellipse_90_cc" rx="7" ry="7" cx="7" cy="7">
						</ellipse>
					</svg>
				</div>
				<div id="DividerDark" class="Divider_Dark">
					<svg class="DividerDark_ce" viewBox="0 0 279 1">
						<path id="DividerDark_ce" d="M 0 0 L 279 0">
						</path>
					</svg>
				</div>
				<div id="DividerDark_cf" class="Divider_Dark">
					<svg class="DividerDark_cg" viewBox="0 0 279 1">
						<path id="DividerDark_cg" d="M 0 0 L 279 0">
						</path>
					</svg>
				</div>
				<div id="DividerDark_ch" class="Divider_Dark">
					<svg class="DividerDark_ci" viewBox="0 0 279 1">
						<path id="DividerDark_ci" d="M 0 0 L 279 0">
						</path>
					</svg>
				</div>
			</div>
		</div>
		<div id="text">
			<div id="Username">
				<span>{{user.name}}</span>
			</div>
			<div id="Bank">
				<span>{{user.bank}} {{user.bank_account}}</span>
			</div>
		</div>
	</div>

    <div id="Group_32">
        <span>Recent Transactions</span>
        <br>
        <ul>
            {% if transactions|length == 0%}
                <li> No recent transactions </li>
            {% else %}
                {% for transaction in transactions %}
                <li> {{transaction}} </li>
                {% endfor %}
            {% endif %}
        </ul>
        <br><br>
	</div>
</div>
</body>
</html>
