<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Premium Unitrade</title>
<link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static 'css/Latest_News.css' %}"/>
<script id="applicationScript" type="text/javascript" src="{% static 'js/Latest_News.js' %}"></script>
</head>
<body>
<div id="Latest_News">
	<div id="top_">
		<div id="HeaderLight" class="Header_Light">
			<div id="tab3_optionsdark" class="tab_3_options_dark">
				
				<div onclick="location.href='{% url 'mobile-home' %}'" id="Transaction">
					<span>Transaction</span>
				</div>
				<div onclick="location.href='{% url 'mobile-About_Traves' %}'" id="About_Traves">
					<span>About Us</span>
				</div>
				<svg class="Button" viewBox="0 0 89.014 32">
					<path id="Button" d="M 17.5829963684082 0 L 71.43092346191406 0 C 81.14174652099609 0 89.013916015625 7.163443565368652 89.013916015625 16 C 89.013916015625 24.83655548095703 81.14174652099609 32 71.43092346191406 32 L 17.5829963684082 32 C 7.872175216674805 32 0 24.83655548095703 0 16 C 0 7.163443565368652 7.872175216674805 0 17.5829963684082 0 Z">
					</path>
				</svg>
				<div onclick="location.href='{% url 'mobile-latest_news' %}'" id="Latest_News_bc">
					<span>Latest News</span>
				</div>
				<div onclick="location.href='{% url 'mobile-Portfolio' %}'" id="Portfolio">
					<span>Portfolio</span>
				</div>
			</div>
		</div>
	</div>
	<img onclick="location.href='{% url 'mobile-home' %}'" id="logo2" src="{% static 'images/logo2.png' %}" srcset="{% static 'images/logo2.png'%} 1x">
	<div id="content">
        {% for content in contents %}
            <div id="post-image-{{forloop.counter0}}" class="post_image">
                <div id="content_bi">
                    <div id="Believe_you_can_and_youre_half">
                        <span>{{content.body}}</span>
                    </div>
                    <img id="picture" src="{{content.image.url}}" srcset="{{content.image.url}} 1x">
                    <div id="author" class="author">
                        <div id="Jonathan_Lecluze">
                            <span>{{content.author.name}}</span>
                        </div>
                        <div id="ID8_Nov">
                            <span>{{content.date_created}}</span>
                        </div>
                        <img id="avatar" src="{{content.author.profile_pic.url}}" srcset="{{content.author.profile_pic.url}} 1x">
                    </div>
                </div>
            </div><br><br>
        {% endfor %}
	</div>
	<div onclick="application.goToTargetView(event)" id="Group_1786">
		<svg class="Button_ck">
			<rect id="Button_ck" rx="16" ry="16" x="0" y="0" width="81" height="32">
			</rect>
		</svg>
		<div id="Logout" onclick="location.href='{% url 'mobile-logout' %}'">
			<span>Logout</span>
		</div>
	</div>
</div>
</body>
</html>